@font-face {
  font-family: 'latin_modern_mono';
  src: url('fonts/lmmono10-regular-webfont.woff') format('woff'),;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'latin_modern_mono', monospace;
  padding: 0;
  margin: 0;
}

.lil-gui {
  --font-family: 'latin_modern_mono', monospace;
  --font-family-mono: 'latin_modern_mono', monospace;
  --background-color: rgb(24, 26, 32);
  /* --background-color: #13151d; */
  --widget-color: #474742;
  --hover-color: #5f5e55;
  --focus-color: #e71376;
  --number-color: #00fdf8;
  --text-color: #efede7;
  --title-text-color: #efede7;
  z-index: 10;
}

#pendulum-view {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

#ellipsoid-view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 300px;
  overflow: hidden;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
